@import url(https://themes.googleusercontent.com/fonts/css?kit=2L-NE6V_PZLykcmeXb6DzwpYF-AtWiOkH21yipXwf9g);

ol {
  margin: 0;
  padding: 0;
}

table td,
table th {
  padding: 0;
}

.c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c31 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c27 {
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c23 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt;
}

.c5 {
  color: #2e3134;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c8 {
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c2 {
  color: #434343;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}

.c4 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c13 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Lora";
  font-style: normal;
}

.c10 {
  color: #1155cc;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c7 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: center;
  height: 11pt;
}

.c25 {
  padding-top: 10pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c37 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c53 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: right;
}

.c41 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify;
}

.c12 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c49 {
  padding-top: 4pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c50 {
  padding-top: 10pt;
  padding-bottom: 4pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c3 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c44 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
}

.c9 {
  font-size: 13pt;
  font-family: "Georgia";
  color: #000000;
  font-weight: 400;
}

.c29 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.c22 {
  font-weight: 400;
  font-size: 25pt;
  font-family: "Georgia";
}

.c43 {
  font-size: 11.5pt;
  font-family: "Roboto";
  font-weight: 400;
}

.c18 {
  font-weight: 400;
  font-size: 15pt;
  font-family: "Georgia";
}

.c17 {
  font-weight: 400;
  font-size: 14pt;
  font-family: "Arial";
}

.c38 {
  font-weight: 400;
  font-size: 21pt;
  font-family: "Times New Roman";
}

.c48 {
  font-weight: 400;
  font-size: 18pt;
  font-family: "Georgia";
}

.c47 {
  font-weight: 400;
  font-size: 27pt;
  font-family: "Georgia";
}

.c20 {
  font-weight: 400;
  font-size: 13pt;
  font-family: "Georgia";
}

.c35 {
  font-weight: 400;
  font-size: 10.5pt;
  font-family: "Roboto";
}

.c32 {
  font-weight: 400;
  font-size: 14pt;
  font-family: "Lora";
}

.c21 {
  font-size: 16pt;
  font-family: "Georgia";
  font-weight: 400;
}

.c24 {
  font-weight: 400;
  font-size: 12pt;
  font-family: "Lora";
}

.c16 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
  text-align: center;
}

.c46 {
  font-size: 25pt;
  font-family: "Georgia";
}

.c6 {
  color: inherit;
  text-decoration: inherit;
}

.c39 {
  font-family: "Arimo";
  font-weight: 400;
}

.c34 {
  font-size: 17pt;
  font-family: "Georgia";
}

.c51 {
  font-size: 14pt;
  font-family: "Arial";
}

.c14 {
  color: #000000;
}

.c33 {
  height: 11pt;
}

.c36 {
  font-style: italic;
}

.c26 {
  color: #0d0d0d;
}

.c42 {
  color: #1155cc;
}

.c11 {
  color: #434343;
}

.c45 {
  color: #2e3134;
}

.c30 {
  font-weight: 700;
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

.c52 > h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c52 > h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c52 > h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c52 > h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c52 > h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c52 > h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c52 {
  width: 58%;
  margin: auto;
  padding: 0px;
}
img {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .c52 {
    margin: auto;
    width: 90%;
    min-width: 250;
  }
}
