:root {
  --bgcolor: rgb(255, 255, 255);
  --textcolor: black;
}

[theme="dark"] {
  --bgcolor: rgb(33, 33, 33);
  --textcolor: #F2F2F2;
}

.header {
  top: 0px;
  height: 60px;
  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--bgcolor);
  color: var(--textcolor);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
}

.header_links {
  font-weight: bold;
  font-size: large;
  padding: 0 30px;
  text-align: center;
  margin: auto 0;
  color: var(--textcolor);
}

.header>.dropdown {
  display: none;
  position: absolute;
  background-color: var(--bgcolor);
  max-width: 60px;
  padding: auto;
  height: 100%;
  margin: auto 20px;
  text-align: center;
}

.Hamburger {
  height: 40px;
  width: 40px;
  margin: 10% auto;
}

.mobile_header {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: var(--bgcolor);
  display: none;
  top: 50px;
}

@media (max-width: 768px) {
  .header {
    height: 50px;
  }

  .header_links {
    display: none;
  }

  .header_links_mobile {
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 20px 30px;
    color: var(--textcolor);
  }

  .header>.dropdown {
    display: block
  }

  .mobile_header {
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
  }


}