.c3 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c47 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 25pt;
  font-family: "Bell MT";
  font-style: normal;
}

.c52 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 13pt;
  font-family: "Arimo";
}

.c31 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 19pt;
  font-family: "Georgia";
  font-style: normal;
}

.c41 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 19pt;
  font-family: "Bell MT";
  font-style: normal;
}

.c23 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Georgia";
  font-style: normal;
}

.c4 {
  color: #2e3134;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arimo";
  font-style: normal;
}

.c32 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 22pt;
  font-family: "Times New Roman";
  font-style: normal;
}

.c48 {
  color: #2e3134;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Georgia";
  font-style: normal;
}

.c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal;
}

.c43 {
  color: #434343;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c13 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}

.c29 {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arimo";
  font-style: normal;
}

.c17 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Georgia";
  font-style: normal;
}

.c27 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Lora";
  font-style: normal;
}

.c1 {
  color: #2e3134;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arimo";
  font-style: normal;
}

.c11 {
  color: #2e3134;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Lora";
  font-style: normal;
}

.c30 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 13pt;
  font-family: "Lora";
}

.c24 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Bell MT";
  font-style: normal;
}

.c40 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Times New Roman";
  font-style: normal;
}

.c39 {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Bell MT";
  font-style: normal;
}

.c26 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal;
}

.c50 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Bell MT";
  font-style: normal;
}

.c12 {
  color: #2e3134;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: "Arial";
  font-style: normal;
}

.c53 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 35pt;
  font-family: "Bell MT";
  font-style: normal;
}

.c9 {
  color: #2e3134;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Arimo";
  font-style: normal;
}

.c36 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Bell MT";
  font-style: normal;
}

.c38 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 17pt;
  font-family: "Lora";
  font-style: normal;
}

.c54 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Georgia";
  font-style: normal;
}

.c42 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: right;
}

.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c21 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}

.c37 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Georgia";
  font-style: normal;
}

.c46 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-family: "Lora";
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c14 {
  margin-left: 36pt;
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}

.c8 {
  font-size: 13pt;
  font-family: "Arimo";
  color: #2e3134;
  font-weight: 400;
}

.c15 {
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}

.c18 {
  font-size: 13pt;
  font-family: "Lora";
  color: #2e3134;
  font-weight: 400;
}

.c35 {
  margin-left: 36pt;
  padding-left: 0pt;
}

.c34 {
  padding: 0;
  margin: 0;
}

.c51 {
  font-family: "Lora";
  font-weight: 400;
}

.c10 {
  color: inherit;
  text-decoration: inherit;
}

.c28 {
  vertical-align: super;
}

.c33 {
  font-size: 15pt;
}

.c44 {
  margin-left: 18pt;
}

.c45 {
  font-size: 17pt;
}

.c2 {
  height: 11pt;
}

.c19 {
  font-style: italic;
}

.c22 {
  font-size: 30pt;
}

.c55 {
  font-size: 13pt;
}

.c20 {
  font-size: 21pt;
}

.c16 {
  font-size: 23pt;
}

.c6 {
  page-break-after: avoid;
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 19pt;
  padding-bottom: 0pt;
  font-family: "Bell MT";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.subtitle {
  padding-top: 0pt;
  color: #000000;
  font-size: 15pt;
  padding-bottom: 0pt;
  font-family: "Georgia";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c49 > p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}

.c16 {
  display: block;
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 19pt;
  margin-bottom: 20px;
  font-family: "Bell MT";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

.c31 {
  color: #000000;
  font-size: 15pt;
  padding-bottom: 0pt;
  font-family: "Georgia";
  line-height: 1.3;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

c16 > h3 {
  padding-top: 0pt;
  color: #000000;
  font-size: 14pt;
  padding-bottom: 0pt;
  font-family: "Georgia";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}

c16 > h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

c16 > h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

c16 > h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c49 {
  margin: auto;
  width: 58%;
  padding: 0px;
}

img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .c49 {
    margin: auto;
    width: 90% !important;
    min-width: 250;
  }
}
