@import url(https://themes.googleusercontent.com/fonts/css?kit=2L-NE6V_PZLykcmeXb6DzwpYF-AtWiOkH21yipXwf9g);
ol,
table td,
table th {
  padding: 0;
}
.c5,
.c7 {
  margin-left: -56.7pt;
  margin-right: -44.6pt;
  padding-bottom: 0;
  orphans: 2;
  widows: 2;
}
.c0,
.c13,
.c23 {
  font-style: normal;
}
.c2,
.c45,
.c5,
.c7 {
  padding-top: 0;
  line-height: 1.1500000000000001;
  height: 11pt;
}
.c11,
.c2,
.c45,
.c5,
.c7 {
  height: 11pt;
}
.c13,
.c17,
.c27,
.c30,
.c44 {
  background-color: #fff;
}
.c14,
.c25,
.subtitle,
.title {
  page-break-after: avoid;
}
ol,
p {
  margin: 0;
}
.c7 {
  text-align: center;
}
.c5 {
  text-align: justify;
}
.c13 {
  color: #0d0d0d;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: Lora;
}
.c0,
.c23,
.c31 {
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
}
.c0 {
  font-weight: 700;
  font-size: 17pt;
  font-family: Georgia;
}
.c23 {
  font-weight: 400;
  font-size: 12pt;
  font-family: Lora;
}
.c45 {
  padding-bottom: 0;
  orphans: 2;
  widows: 2;
  text-align: right;
}
.c2,
.c21 {
  padding-bottom: 0;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c31 {
  font-weight: 700;
  font-size: 17pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c26,
.c41 {
  font-family: Georgia;
  font-style: normal;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
}
.c21 {
  margin-left: 18pt;
  padding-top: 3pt;
  line-height: 1;
}
.c11,
.c14 {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c41 {
  font-size: 15pt;
}
.c26 {
  font-size: 13pt;
}
.c1 {
  color: #000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: Arial;
  font-style: normal;
}
.c10,
.c35 {
  color: #434343;
}
.c10,
.c15,
.c35 {
  font-weight: 400;
  font-family: Georgia;
  font-style: normal;
  text-decoration: none;
  vertical-align: baseline;
}
.c10 {
  font-size: 17pt;
}
.c35 {
  font-size: 13pt;
}
.c15 {
  color: #000;
  font-size: 16pt;
}
.c24,
.c4 {
  color: #434343;
  font-size: 11pt;
  font-family: Arial;
  font-weight: 400;
}
.c24 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: italic;
}
.c4,
.c53 {
  font-style: normal;
}
.c4 {
  text-decoration: none;
  vertical-align: baseline;
}
.c33,
.c53 {
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
}
.c53 {
  font-weight: 700;
  font-size: 20pt;
  font-family: Georgia;
}
.c33 {
  font-weight: 400;
  font-size: 11pt;
  font-family: Lora;
  font-style: normal;
}
.c40,
.c42 {
  color: #000;
  font-weight: 400;
  font-family: Georgia;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c42 {
  font-size: 25pt;
}
.c40 {
  font-size: 18pt;
}
.c39 {
  color: #434343;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: Arial;
  font-style: normal;
}
.c17,
.c18,
.c19,
.c22,
.c27,
.c28,
.c29,
.c32,
.c38 {
  font-weight: 400;
}
.c37,
.c6 {
  line-height: 1;
  text-align: left;
  padding-bottom: 0;
  orphans: 2;
  widows: 2;
}
.c28 {
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-family: Lora;
  font-style: normal;
}
.c22,
li,
p {
  font-size: 11pt;
}
.c22 {
  color: #434343;
  text-decoration: none;
  vertical-align: baseline;
  font-family: Georgia;
  font-style: normal;
}
.c6 {
  margin-left: 36pt;
  padding-top: 3pt;
}
.c37 {
  padding-top: 10pt;
}
.c16 {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c49 {
  padding-top: 10pt;
  padding-bottom: 4pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c3,
.c36,
.c52 {
  padding-bottom: 0;
}
.c36 {
  padding-top: 0;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c52 {
  padding-top: 4pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c3,
.title {
  padding-top: 0;
}
.c3,
.subtitle,
.title {
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c27 {
  font-size: 12pt;
  font-family: Lora;
  color: #15c;
}
.c19 {
  text-decoration: none;
  vertical-align: baseline;
  font-family: Arial;
  font-style: normal;
}
.c43,
.c50 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
}
.c51,
c47 > h6 {
  font-style: italic;
}
.c17 {
  font-size: 11.5pt;
  font-family: Roboto;
  color: #0d0d0d;
}
.c43 {
  color: #15c;
}
.c30 {
  font-size: 10.5pt;
  color: #202124;
}
.c38 {
  font-size: 12pt;
  font-family: Lora;
}
.c29 {
  font-family: Arimo;
  color: #434343;
}
.c18 {
  font-family: SimSun;
}
.c44 {
  color: #0d0d0d;
}
.c8 {
  color: inherit;
  text-decoration: inherit;
}
.c9 {
  color: #15c;
  font-size: 9pt;
}
.title,
c47 > h1,
li,
p {
  color: #000;
}
.c32 {
  font-family: Arimo;
}
.subtitle,
.title,
li,
p {
  font-family: Arial;
}
.c34 {
  font-size: 16pt;
}
.c20 {
  height: 13pt;
}
.c46 {
  height: 15pt;
}
.c48 {
  font-size: 15pt;
}
.title {
  font-size: 26pt;
  padding-bottom: 3pt;
}
.subtitle,
c47 > h1 {
  padding-top: 0;
  font-size: 15pt;
}
.subtitle {
  color: #666;
  padding-bottom: 16pt;
}
c47 > h1 {
  padding-bottom: 0;
  font-family: Georgia;
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}
c47 > h2,
c47 > h3 {
  padding-top: 0;
  font-size: 13pt;
  padding-bottom: 0;
  font-family: Georgia;
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}
c47 > h2 {
  color: #434343;
}
c47 > h3 {
  color: #000;
}
c47 > h4 {
  padding-top: 14pt;
  color: #666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: Arial;
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
c47 > h5,
c47 > h6 {
  padding-top: 12pt;
  color: #666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: Arial;
  line-height: 1.1500000000000001;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c47 {
  margin: auto;
  width: 58%;
  padding: 0;
}
img {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .c47 {
    margin: auto;
    width: 90%;
    min-width: 250;
  }
}
