.main-container {
  height: fit-content;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 30px auto auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(7px);
  box-shadow: 1px 1px 7px grey;
}

.headerName {
  padding-top: 10px;
  margin: auto;
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
  color: rgb(33, 33, 33);
  font-size: 30px;
  font-weight: 700;
}

.volume-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.accord-container {
  width: calc(93% - 20px);
  background-color: #212121;
  border-radius: 7px;
  height: 60px;
  color: #000;
  padding: 0px 0px 0px 20px;
  margin: 20px 3.5%;
}

.accordion {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #f2f2f2;
  margin: -37.5px 40px;
}

.accord-container:hover {
  background-color: #2f2f2f;
}

#backimg {
  height: 40px;
  width: 40px;
  padding-top: 10px;
}

.info-container>a,
.new-link {
  color: #000;
}

.info-container {
  margin: 2rem 2rem 1rem 0;
  height: auto;
  min-height: 300px;
  width: 50%;
  background: rgba(251, 255, 0, 0.467);
  z-index: 10;
  border-radius: 1rem;
  padding: 20px;
  font-size: 20px;
  color: #302f2f;
  max-height: 500px;
}

.new-link:hover {
  color: #818181;
}

@media screen and (max-width: 1440px) {
  .headerName {
    margin: auto;
    text-align: center;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .volume-container {
    display: flex;
    flex-direction: column;
  }

  .main-container {
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }

  .info-container {
    margin: 2rem auto;
    min-width: 81.6%;
    height: auto;
  }
}

@media screen and (max-width: 668px) {
  .accord-container {
    height: 42px;
    padding: 0px 0px 0px 10px;
    width: calc(93% - 10px);
  }

  .accordion {
    font-weight: 600;
    font-size: 18px;
    margin: -31px 30px;
  }

  #backimg {
    height: 30px;
    width: 30px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 520px) {
  .accord-container {
    height: 68px;
  }

  .accordion {
    font-weight: 600;
    font-size: 18px;
    margin: -55px 50px;
  }

  #backimg {
    height: 50px;
    width: 50px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 345px) {
  .accord-container {
    height: 68px;
    padding: 0px 0px 0px 5px;
  }

  .accordion {
    font-weight: 500;
    font-size: 15px;
    margin: -44px 40px;
  }

  #backimg {
    height: 40px;
    width: 40px;
    padding-top: 12px;
  }
}