.coffee,
.paypal {
  height: 60px;
  width: 60%;
  border-radius: 10px;
  text-align: center;
}
.text,
.text2 {
  font-size: larger;
}
.donationCont {
  margin-top: 10px;
  display: block;
}
.coffee {
  background-color: #fd0;
  margin: 20px auto 5px;
  justify-content: center;
  align-items: center;
}
.paypal {
  background-image: linear-gradient(to right, #0170ba, #1547a0);
  margin: 5px auto 30px;
  justify-content: center;
  align-items: center;
}
.text {
  padding: 16px 0;
  color: #000;
  margin: 0;
}
.text2 {
  margin-top: 10px;
  padding-top: 14px;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .coffee,
  .paypal {
    width: 85%;
  }
}
