.read-content {
  display: flex;
}

.ad1 {
  position: relative;
  left: 0;
  max-width: 56vw;
  min-height: 150px;
}

.multi-ads {
  margin-left: 0.5vw;
  margin-top: 50px;
  width: 20vw;
  min-height: 600px;
}

.main-part {
  flex-grow: 1;
  position: relative;
  max-width: 56vw;
  margin: 0px 1vw;
}

.chapNav {
  margin-top: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 3.5vh;
  justify-content: center;
}

.disable {
  opacity: 0.5;
}

.nextChap,
.prevChap {
  width: 160px;
  height: 30px;
  margin: 0 8vw;
  border-radius: 5px;
  padding: 3px 7px 0;
  font-size: 1em;
  text-align: center;
  background: #222121;
  color: azure;
  box-shadow: 1px 1px 6px #525151;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .main-part {
    position: relative;
    max-width: 90vw;
    left: 5vw;
  }

  .ad1 {
    min-height: 120px;
    max-width: 90vw;
  }
}

@media screen and (max-width: 580px) {

  .nextChap,
  .prevChap {
    width: 100px;
    height: 26px;
    margin: 0 10vw;
  }
}

@media screen and (max-width: 400px) {

  .nextChap,
  .prevChap {
    width: 80px;
    margin: 0 7vw;
  }
}