.channel-link > p {
  font-size: 20px;
  font-weight: 800;
}
.links > p {
  color: #fff;
  margin: 9px 3px;
  font-size: 20px;
  font-weight: 700;
}
.channel-link > p {
  font-size: 25px;
  font-weight: 800;
}
@media screen and (min-width: 1150px) {
  .channel-info,
  .footerInfo {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .ChannelFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 85%;
    margin: auto;
    bottom: 10px;
  }
  .channel-info,
  .creator-info {
    margin-left: 100px;
    font-family: "Varela Round", sans-serif;
  }
  .footerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #f49298);
    background-color: #f49298;
    width: 100%;
  }
  .creator-info,
  .links {
    flex-direction: row;
    display: flex;
  }
  .channel-info {
    width: 35%;
    text-align: left;
    color: rgba(255, 255, 255, 0.885);
    font-size: 25px;
    font-weight: 700;
  }
  .creator-info {
    width: 40%;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .channel-link h4,
  .developer-link,
  .developer-link h4,
  .icons {
    color: rgba(255, 255, 255, 0.885);
  }
  .channel-link {
    margin: 10px 30px;
    width: 50%;
    text-align: left;
  }
  .channel-link h4 {
    margin: 9px 0;
  }
  .channel-link h2 {
    margin: 5px 0 20px;
  }
  .icons {
    margin-top: 9px;
    margin-left: 5px;
  }
  .developer-link {
    width: 100px;
  }
  .developer-link h4 {
    margin-top: 0;
  }
  .developer-insta-links {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
  }
  .developer-insta-links .icons {
    margin-top: 1px;
  }
  .lastImage {
    height: 38%;
    background-image: url("./channels4_banner(1).webp");
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .custom-shape-divider-top-1671373515 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  .custom-shape-divider-top-1671373515 .shape-fill {
    fill: #ffffff;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1150px) {
  .ChannelFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    margin: auto;
    bottom: 0;
  }
  .channel-info,
  .creator-info {
    width: 40%;
    margin-left: 100px;
    font-family: "Varela Round", sans-serif;
  }
  .footerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 62%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #f49298);
    background-color: #f49298;
  }
  .channel-info {
    text-align: left;
    color: rgba(255, 255, 255, 0.885);
  }
  .creator-info {
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .lastImage {
    height: 38%;
    background-image: url("./channels4_banner(1).webp");
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .developer-link {
    width: 100px;
    color: rgba(255, 255, 255, 0.885);
  }
  .developer-link h4 {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.885);
  }
  .developer-insta-links {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
  }
  .developer-insta-links .icons {
    margin-top: 1px;
  }
}
@media screen and (max-width: 1150px) {
  .ChannelFooter,
  .footerInfo {
    flex-direction: column;
    display: flex;
  }
  .channel-info,
  .creator-info {
    font-family: "Varela Round", sans-serif;
    text-align: center;
  }
  .ChannelFooter {
    height: auto;
    width: 100%;
    margin: auto;
    bottom: 0;
  }
  .footerInfo {
    align-items: center;
    height: 62%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #f49298);
    background-color: #f49298;
  }
  .channel-info {
    margin: 10px;
    color: rgba(255, 255, 255, 0.885);
  }
  .creator-info {
    width: 40%;
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .channel-link h4,
  .developer-link,
  .developer-link h4,
  .icons {
    color: rgba(255, 255, 255, 0.885);
  }
  .channel-link {
    margin: auto auto 30px;
    width: 67%;
    text-align: center;
  }
  .channel-link h4 {
    margin: 9px 0;
  }
  .channel-link h2 {
    margin: 5px 0 20px;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .icons {
    margin-top: 9px;
    margin-left: 5px;
  }
  .developer-link {
    margin: auto;
    width: 100px;
  }
  .developer-link h4 {
    margin-top: 0;
  }
  .developer-insta-links {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
  }
  .developer-insta-links .icons {
    margin-top: 1px;
  }
  .lastImage {
    height: 200px;
    width: 100%;
    background-image: url("./channels4_banner(1).webp");
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}
