@font-face {
  font-family: "MADE INFINITY PERSONAL USE";
  src: url("./MADEINFINITY PERSONALUSE-Regular.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MADE INFINITY PERSONAL USE B";
  src: url("./MADEINFINITY PERSONALUSE.otf") format("truetype");
  font-display: swap;
}

@keyframes expand-div {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 2000px;
  }
}

.volumeImg {
  top: 100px;
}

@keyframes contract-div {
  0% {
    max-height: 2000px;
  }

  10% {
    max-height: 1000px;
  }

  100% {
    max-height: 0px;
  }
}

.volumeImg {
  top: 100px;
}

.volumeImg,
.volumeTitle {
  position: relative;
}

.mainHeaderCont {
  height: 260px;
  width: 100%;
  margin-top: -66px;
  background: url("../VolumeDetails/Image\ 02.webp") 0 0 / cover;
  display: flex;
  flex-direction: row;
  margin-bottom: 140px;
}

.volumeImg {
  width: 184px;
  height: 260px;
  background-size: cover;
  box-shadow: 1px 1px 8px #525151;
  left: 15vw;
  border-radius: 15px;
}

.volumeTitle {
  left: 16vw;
  height: 20vh;
  width: 500px;
  color: #f6f2f2;
  font-size: 33pt;
  font-weight: 900;
  top: 120px;
  font-family: "MADE INFINITY PERSONAL USE B", sans-serif;
}

.chapCard,
.index,
.nextVol,
.prevVol {
  font-family: "MADE INFINITY PERSONAL USE", sans-serif;
  background: #222121;
  color: azure;
  box-shadow: 1px 1px 6px #525151;
  cursor: pointer;
}

.curStatus {
  position: relative;
  top: 270px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: "MADE INFINITY PERSONAL USE", sans-serif;
  left: calc(15vw - 478px);
}

.statusDot {
  height: 15px;
  width: 15px;
  border-radius: 30px;
  margin-right: 8px;
  margin-top: 10px;
}

.statusTitle {
  font-size: 25px;
  margin: 0;
}

.synCont {
  margin-top: -20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.synopsis {
  max-width: 70vw;
  height: 100%;
}

.infinity>p {
  font-size: 13pt;
  font-family: "MADE INFINITY PERSONAL USE", sans-serif;
}

.volumeNav {
  margin-top: 45px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  height: 3.5vh;
  justify-content: center;
}

.index,
.nextVol,
.prevVol {
  width: 160px;
  height: 30px;
  margin: 0 5vw;
  border-radius: 5px;
  padding: 1px 0px 0px;
  font-size: 1em;
  text-align: center;
}

.disable {
  opacity: 0.5;
}

.chapterOpt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.chapCard {
  width: 70vw;
  height: 30px;
  border-radius: 10px;
  margin: 13px 10px;
  display: flex;
  flex-direction: row;
  padding: 7px 15px;
  align-items: center;
  font-size: 14pt;
}

.chapCard:hover {
  cursor: pointer;
}

.chapTitle {
  width: 35vw;
}

.transType {
  margin-left: calc(48% - 80px);
  font-size: 10pt;
}

.expand-btn {
  display: none;
}

@media screen and (max-width: 900px) {

  .index,
  .nextVol,
  .prevVol {
    width: 120px;
    height: 26px;
    margin: 0 3.8vw;
  }

  .curStatus {
    top: 317px;
    left: calc(-300px + 7%);
  }

  .statusTitle {
    font-size: 18px;
  }

  .synCont {
    margin-top: -50px;
  }

  .volumeImg {
    height: 210px;
    width: 148px;
    left: 7%;
  }

  .volumeTitle {
    left: 10vw;
    font-size: 23pt;
    width: auto;
  }

  .mainHeaderCont {
    height: 250px;
  }

  .statusDot {
    height: 12px;
    width: 12px;
    margin-right: 8px;
    margin-top: 8px;
  }

  p {
    font-size: 12pt;
  }

  .synopsis {
    max-width: 80vw;
  }
}

@media screen and (max-width: 580px) {

  .index,
  .nextVol,
  .prevVol {
    width: 100px;
    height: 28px;
    margin: 0 3vw;
  }

  .transType {
    margin-left: calc(48% - 90px);
  }

  .expand-btn {
    display: block;
    width: 80vw;
    height: 30px;
    border: none;
    border-top: 5px solid black;
    background-color: #ffffff;
    font-weight: 900;
    font-size: 12pt;
    padding: 0px;
    color: #f6f2f2;
    border-radius: 3px;
  }

  .read-btn {
    width: 40%;
    height: 28px;
    background-color: black;
    margin-top: -2px;
    margin-left: calc(30%);
    min-width: 100px;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
  }

  .expand {
    max-height: 0px;
    overflow: hidden;
    /* animation-name: expand-div; */
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
}

@media screen and (max-width: 410px) {
  .volumeNav {
    margin-top: 35px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    height: 3.5vh;
    justify-content: center;
  }

  .chapterOpt {
    margin-top: 30px;
  }

  .transType {
    margin-left: calc(48% - 70px);
    font-size: 8pt;
  }

  .chapCard {
    font-size: 10pt;
    padding: 5px 10px;
    margin: 8px;
    width: calc(250px + 7.6vw);
  }

  .index,
  .nextVol,
  .prevVol {
    width: 80px;
    height: 22px;
    padding: 5px 0px 0px;
    margin: 0 3.8vw;
    font-size: 10pt;
  }

  .mainHeaderCont {
    height: 240px;
  }

  .volumeImg {
    height: 170px;
    width: 120px;
  }

  .volumeTitle {
    font-size: 20pt;
    font-weight: 800;
    top: 132px;
    line-height: 30pt;
    min-width: 155px;
    height: 100px;
  }

  .statusTitle {
    font-size: 16px;
  }

  .statusDot {
    height: 10px;
    width: 10px;
    margin-right: 8px;
    margin-top: 7px;
  }

  .synCont {
    margin-top: -90px;
  }

  .curStatus {
    top: 275px;
    left: calc(-403px + 7%);
  }
}

h1 {
  margin: 0;
  display: inherit;
}

.heading2 {
  font-weight: 600;
  font-size: 28px;
}